<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ODONATA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={% url 'home' %}>Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Leaderboard
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href={% url 'weekly_lead' %}>Weekly</a>
          <a class="dropdown-item" href={% url 'quaterly_lead' %}>Quaterly</a>
          <a class="dropdown-item" href={% url 'yearly_lead' %}>Yearly</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href={% url 'display_project' %}>Projects Created</a>
          <a class="dropdown-item" href={% url 'assigned_project' %}>Projects Assigned</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href={% url 'create_project' %}>Create Project</a>
          <a class="dropdown-item" href={% url 'team_create' %}>Create Team</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Analysis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href={% url 'points_chart' %}>Employee Points</a>
          <a class="dropdown-item" href={% url 'teams_chart' %}>Team Points</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href={% url 'emp_progress_chart' %}>Your Progress</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Auction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href={% url 'task_list' %}>Tasks On Auction</a>
          <a class="dropdown-item" href={% url 'create_task' %}>Create Task</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href={% url 'assigned_tasks' %}>Your Tasks</a>
          <a class="dropdown-item" href={% url 'my_assignment' %}>Your Assignments</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'contact_list' %}>Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'shoutout_create' %}>Shoutouts</a>
      </li>
    </ul>
    {% if user.is_active %}
    <a href={% url 'logout' %} class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</a>
    {% else %}
    <a href={% url 'emp_login' %} class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>
    {% endif %}
  </div>
</nav>